<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Hi there,</p>

    <p>Thank you for signing up for
      <strong>{{appName}}</strong>! We're excited to have you on board.</p>

    <p>To complete your registration and activate your account, please verify
      your email address by clicking the link below:</p>

    <p><a href="{{verificationUrl}}">Verify Your Email</a></p>

    <p>If you didn’t sign up for
      <strong>{{appName}}</strong>, please ignore this email. If you have any
      questions or concerns, feel free to reach out to us at
      <a href="mailto:{{supportEmail}}">Support Team</a>.</p>

    <p><em>Note:</em>
      This link will expire in
      {{expireIn}}, so make sure to verify your email as soon as possible.</p>

    <hr />

    <p>Best regards,</p>
    <p>The <strong>{{appName}}</strong> Team</p>
    <p><a href="{{website.url}}">{{website.domain}}</a></p>

    <p><small>You are receiving this email because you signed up for
        <strong>{{appName}}</strong>.</small></p>
  </body>
</html>